<!--<app-header></app-header>-->
<!--<h1> Hello wel come to the world of Angular</h1>-->
<!--<h1> this is a first angular application.</h1>-->
<!--<app-header></app-header>-->

<!--<h1> below is  child componenet in app component</h1>-->
<!--<app-child1></app-child1>-->
<!--
<h2>Wel come  {{name}}</h2>
<h2>your age {{age+2}}</h2>
<h2>{{display()}}</h2>
<table >
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>display</th>
  </tr>
  <tr>
    <th >{{name}}</th>
    <th>{{age}}</th>
    <th>{{display()}}</th>
  </tr>
</table>
-->
<!--<app-property-binding></app-property-binding>-->
<!--<app-one-way-databinding></app-one-way-databinding>-->
<!--<app-two-way-databinding></app-two-way-databinding>
<hr/>
<app-template-driven-form></app-template-driven-form>-->

<!--<app-tdf></app-tdf>-->
<!--<app-model-driven-form></app-model-driven-form>-->
<!--<app-structure-directive></app-structure-directive>-->
<!--<app-structure-directive2></app-structure-directive2>-->
<!--<app-for-loop-table></app-for-loop-table>-->
<app-employee-entry></app-employee-entry>
<hr/>
<app-employee-view></app-employee-view>


